<br>
<table class="table">
    <thead class="table">
        <tr>
            <th class="text-center" colspan="7"><h4>KİRALAMALAR</h4></th>
        </tr>
    </thead>
    
    <thead class="table-dark">
      <tr class="text-center">
        <th><i class="fa-solid fa-money-check-dollar"></i></th>
        <th scope="col">MARKA</th>
        <th scope="col">MODEL</th>
        <th scope="col">AD SOYAD</th>
        <th scope="col">GÜNLÜK FİYAT</th>
        <th scope="col">DETAY</th>
      </tr>
    </thead>
    <tbody>
      <tr class ="text-center " *ngFor = "let rental of rentals">
        <td><i class="fa-solid fa-money-check-dollar"></i></td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.modelName}}</td>
        <td>{{rental.firstName}} {{rental.lastName}}</td>
        <td>{{rental.dailyPrice}} ₺</td> -->
        <td><button class="btn btn-outline-danger">Detayı Gör</button></td>
      </tr>
  
    </tbody>
</table>
